.cabecalho-caixa {
    background-color: #006064;
 
    color: white;
 
    padding: 20px 25px;
 
    border-radius: 12px;
 
    display: flex;
 
    align-items: center;
 
    justify-content: space-between;
 
    margin-bottom: 25px;
 
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.20);
}
 
 
.titulo-caixa {
    display: flex;
 
    align-items: center;
 
    gap: 15px;
}
 
 
.titulo-caixa h1 {
    color: white !important;
 
    font-size: 30px;
 
    margin: 0;
 
    text-align: left;
}
 
 
.titulo-caixa small {
    color: #b2ebf2;
 
    font-size: 14px;
}
 
 
.icone-caixa {
    font-size: 38px;
 
    background-color: rgba(255, 255, 255, 0.12);
 
    width: 60px;
 
    height: 60px;
 
    display: flex;
 
    align-items: center;
 
    justify-content: center;
 
    border-radius: 10px;
}
 
 
.numero-caixa {
    background-color: white;
 
    color: #006064;
 
    padding: 8px 14px;
 
    border-radius: 6px;
 
    font-size: 13px;
 
    font-weight: bold;
}
 
:root {
    --cyan-900: #006064;
    --cyan-800: #00838f;
    --cyan-700: #0097a7;
    --cyan-100: #b2ebf2;
    --cyan-50: #e0f7fa;
}
 
 
 
html,
body {
    min-height: 100%;
}
 
 
body {
    margin: 0;
 
    background-color: #006064 !important;
 
    font-family: Arial, sans-serif;
}
 
 
 
.caixa {
    background-color: #ffffff !important;
 
    margin-top: 50px;
    margin-bottom: 50px;
 
    padding: 30px;
 
    border-radius: 15px;
 
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.35);
}
 
 
 
h1 {
    color: #006064 !important;
 
    text-align: center;
 
    margin-bottom: 30px;
 
    font-weight: bold;
}
 
 
/* =========================================
   LINHA
   ========================================= */
 
hr {
    border-top: 2px solid #006064 !important;
 
    opacity: 1;
}
 
 
 
 
.cliente {
    background-color: #e0f7fa;
 
    border: 1px solid #b2ebf2;
 
    color: #006064;
 
    padding: 14px 18px;
 
    border-radius: 10px;
 
    margin-bottom: 25px;
 
    display: flex;
 
    align-items: center;
 
    gap: 15px;
}
 
 
/* Ícone */
 
.cliente-icone {
    width: 45px;
 
    height: 45px;
 
    background-color: #006064;
 
    color: white;
 
    border-radius: 50%;
 
    display: flex;
 
    align-items: center;
 
    justify-content: center;
 
    font-size: 22px;
}
 
 
/* Informações */
 
.cliente-info {
    display: flex;
 
    flex-direction: column;
 
    gap: 2px;
}
 
 
/* Texto CLIENTE */
 
.cliente-label {
    font-size: 12px;
 
    font-weight: bold;
 
    color: #00838f;
 
    letter-spacing: 1px;
}
 
 
/* Nome */
 
.cliente-info strong {
    font-size: 18px;
 
    color: #006064;
}
 
 
/* =========================================
   TABELA
   ========================================= */
 
.table {
    width: 100%;
 
    margin-top: 20px;
 
    text-align: center;
 
    vertical-align: middle;
}